<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>都道府県</title>
    </head>
    <body>
        <h2>都道府県一覧</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>都道府県名</th>
                <th>都道府県番号</th>
            </tr>
            <% let id = 1 %> <% for( let row of data.slice(1) ) { %>
            <tr>
                <td><%= id %></td>
                <td><a href="/pref/<%= id %>"><%= row.name %></a></td>
                <td><%= row.code %></td>
            </tr>
            <% id += 1 %> <% } %>
        </table>
        <a href="/public/pref_new.html">追加</a><br>
        <a href="/">トップへ戻る</a>
    </body>
</html>
