<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>都道府県</title>
    </head>
    <body>
        <h2>都道府県一覧</h2>
        <table>
            <tr>
                <th>id</th>
                <th>都道府県名</th>
                <th>都道府県番号</th>
            </tr>
            <% data.forEach( (row) => { %>
                <% if (row !== null && row.id !== 0) { %>
            <tr>
                <td><%= row.id %></td>
                <td><a href="/pref/<%= row.id %>"><%= row.name %></a></td>
                <td><%= row.code %></td>
            </tr>
            <% } %>
            <% }); %>
        </table>
        <a href="/public/pref_new.html">追加</a><br>
        <a href="/">トップへ戻る</a>
    </body>
</html>
