@charset "UTF-8";

body {
    font-family: sans-serif;
    text-align: center; /* 全体を中央寄せ */
}

table {
    margin-left: auto; /* 余白　*/
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 中央寄せ */
div {
    text-align: center;
    margin-top: 20px;
}

th, td {
    border: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

input {
    padding: 3px;
}
/* 一覧表示用 */
.table-show tr > :nth-child(1) {
    width: 50px;
}

/* 追加，詳細，削除，編集表示用 */
.table-detail tr > :nth-child(1) {
    width: 40%;
}




/* 送信ボタンのデザイン */
input[type="submit"] {
    font-size: 18px;
    padding: 10px 30px;
    width: 200px;
    height: 50px;
    cursor: pointer;

    background-color: #1f9e23;
    color: white;
    border: none;
    border-radius: 5px;
}


