@charset "UTF-8";

body {
    font-family: sans-serif;
    text-align: center; /* 全体を中央寄せ */
}

table {
    margin-left: auto; /* 余白　*/
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}


th, td {
    border: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* 一覧表示用 */
.table-show tr > :nth-child(1) {
    width: 50px;
}

/* 詳細，削除，編集表示用 */
.table-detail tr > :nth-child(1) {
    width: 40%;
}


/* 送信ボタンのデザイン */
input[type="submit"] {
    font-size: 18px;      /* 文字の大きさ */
    padding: 10px 30px;   /* ボタンの内側の余白（上下 左右） */
    width: 200px;         /* ボタンの横幅（固定したい場合） */
    height: 50px;         /* ボタンの高さ */
    cursor: pointer;      /* マウスを乗せたときに指マークにする */

    background-color: #4CAF50; /* 緑色の背景 */
    color: white;              /* 文字を白く */
    border: none;              /* 枠線を消す */
    border-radius: 5px;        /* 角を少し丸くする */
}


