<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>元素</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
    <body>
        <h2>元素一覧</h2>
        <table class="table-show">
            <tr>
                <th>id</th>
                <th>元素名</th>
                <th>原子番号</th>
            </tr>
            <% data.forEach( (row) => { %>
                <% if (row !== null && row.id !== 0) { %>
            <tr>
                <td><%= row.id %></td>
                <td><a href="/element/<%= row.id %>"><%= row.name %></a></td>
                <td><%= row.code %></td>
            </tr>
            <% } %>
            <% }); %>
        </table>
        <a href="/public/element_new.html">追加</a><br>
        <a href="/">トップへ戻る</a>
    </body>
</html>
